<h1>Recipes</h1>
<ul>
  <h2>{{recipe.title}}</h2>
  <li>
    <a href="{% url 'author_url' id=recipe.author.id %}"
      >{{recipe.author.name}}</a
    >
    | Created on {{ recipe.date }}
  </li>
  <ul>
    <li>
      <p>Time Required: {{ recipe.time_required }}</p>
    </li>
    <li>
      <p>Description: {{ recipe.description }}</p>
    </li>
    <li>
      <p>Instructions: {{ recipe.instruction }}</p>
    </li>
  </ul>
</ul>
<a href="{% url 'homepage' %}">Home</a>

<!-- {% for recipe in data %}
  <h2>{{recipe.title}}</h2>
  <li>
    <a href="{% url 'author_url' %}">{{ recipe.author.name }}</a>
    | Created on {{ recipe.date }}
  </li>
  <ul>
    <li>
      {{ recipe.time_required }}
    </li>
    <li>
      {{ recipe.description }}
    </li>
    <li>
      {{ recipe.instruction }}
    </li>
  </ul>
  {% endfor %}
</ul>
<a href="{% url 'homepage' %}">Home</a> -->
